html {
    background: url(img/main_background.gif);
    background-size: cover;
}

h1 {
  color: white;
}

form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    background-color: #282832;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  label {
    color: white;
    opacity: 70%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    display: block;
    width: 80%;
    max-width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    display: block;
    background-color: #FDA541;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  